{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>
</head>
<body>

<!-- 네비게이션 바 -->
<nav class="navbar" style="position: relative; z-index: 3;">
    {% include "menu.html" %}
</nav>

<div class="content-container">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'glowEffect.js' %}"></script>
</body>
</html>
